
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: lightblue ;
    min-height: 100vh;
    border: 10px solid black;
};

.content {
    max-width: 900px;
    margin: 0 auto;
}

.top_section{
    margin: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.top_section h1 {
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}

.top_section h4 {
    text-align: end;
    font-size: 30px;
}

.image_container {
    border-radius: 50%;
    overflow: hidden;
}

.image_container, img {
    height: 420px;
    width: 400px;
}

.about_section {
    margin: 100px;
}

.about_section h2 {
    font-size: 70px;
    font-weight: 400;
}

.about_section p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.biograghy_section {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.biograghy_section h3 {
    font-size: 28px;
    margin-bottom: 20px;
}

.biograghy_section ul {
    margin-left: 50px;
}

.biograghy_section li {
    margin-bottom: 15px;
    font-size: 17px;
}

footer {
    margin: 100px;
}

footer p {
    text-align: end;
    font-size: 20px;
}